{% load static %}
<style>
  .button-link {
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #0d6efd;
  }
  .button-link:hover{
    background: #0d6efd;
    color: #fff;
    transition: 0.5s;
  }
</style>
    <div class="main-top">
      <h1>SHS in San Nicholas III</h1>
      <i class="fas fa-user-cog"></i>
    </div>
    <div class="users">
      <div class="card">
          <i class="fas fa-users" style="font-size: 70px;"></i>
        <h4>Instructors</h4>
        <p>in All Department</p>
        <div class="per">
          <table>
            <tr>
              <td style="text-align: center;"><span>{{ instructor_count }}</span></td>
            </tr>
            <tr>
              <td>Total Instructor</td>
            </tr>
          </table>
        </div>
        <a href="{% url 'list_instructor' %}" class="button-link">View</a>
      </div>
      <div class="card">
        <!--<img src="./pic/img2.jpg">-->
        <i class="fas fa-users" style="font-size: 70px;"></i>
        <h4>STUDENTS</h4>
        <p>ENROLLED</p>
        <div class="per">
          <table>
            <tr>
              <td style="text-align: center;"><span>{{ student_count }}</span></td>
            </tr>
            <tr>
              <td>Total Enrolled students</td>
            </tr>
          </table>
        </div>
        <a href="{% url 'list_student' %}" class="button-link">View</a>


      </div>
      <div class="card">
          <i class="fas fa-graduation-cap" style="font-size: 70px;"></i>
        <h4>COURSES</h4>
        <p>OFFERED</p>
        <div class="per">
          <table>
            <tr>
              <td style="text-align: center;"><span>{{ course_count }}</span></td>
            </tr>
            <tr>
              <td>Total offered Courses</td>
            </tr>
          </table>
        </div>
        <a href="{% url 'list_courses' %}" class="button-link">View</a>
      </div>
      <div class="card">
          <i class="fas fa-sitemap" style="font-size: 70px;"></i>
        <h4>DEPARTMENT</h4>
        <p>Organization</p>
        <div class="per">
          <table>
            <tr>
              <td style="text-align: center;"><span>{{ department_count }}</span></td>
            </tr>
            <tr>
              <td>Total Department</td>
            </tr>
          </table>
        </div>
        <a href="{% url 'list_department' %}" class="button-link">View</a>
      </div>
    </div>


